.footer {
  display: flex;
  padding: 25px 10px;
  justify-content: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
  text-align: center;
}

.navItem {
  display: inline-block;
}

.navItem:last-of-type::after {
  display: none;
}

.navItem::after {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
  content: '|';
}

.navItemLink:link,
.navItemLink:visited,
.navItemLink:active {
  color: #828282;
}
